bzip2@1.0.8
sqlite3@3.50.4 -DCMAKE_POSITION_INDEPENDENT_CODE=On
facebook/zstd@v1.4.5 -X subdir -DCMAKE_DIR=build/cmake
# ROCm/half@10abd99e7815f0ca5d892f58dd7d15a23b7cf92c --build
nlohmann/json@v3.11.2 -DJSON_MultipleHeaders=ON -DJSON_BuildTests=Off
ROCm/FunctionalPlus@v0.2.22
ROCm/eigen@3.4.0
ROCm/frugally-deep@38c52448b1a4996b3e0e435a877d02441098b1dd
../composablekernel/ -DCMAKE_BUILD_TYPE=Release #composable_kernel
google/googletest@v1.14.0
